.app {
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-xxl);
  width: auto;
  margin: auto;
}

.iconRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: -10px;
}

.iconRow img {
  width: auto;
  height: 40px;
  margin-right: 10px;
}

.header small {
  font-style: italic;
  font-size: var(--font-s);
  font-weight: 400;
}

.error {
  color: var(--red)
}

.examples {
  margin-bottom: 20px;
}

.editor {
  margin-bottom: 40px;
}

.tutorial {}
